.app.light {
  --bg-color: #c7b6b6;

  --inverted-bg-color: #2b502d;

  --primary-color: #001fcb;

  --secondary-color: #042aff;

  --inverted-primary-color: #ff8e8e;

  --inverted-secondary-color: #ffffff;
}